html {
    box-sizing: border-box;
    }
    *,
*:before,
*:after {
  box-sizing: inherit;
  }
body {
    background-color:#98C1D9;
    max-width: 1000px;
    margin: auto;
    padding: 100px;
    color: #293241; 
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-size: 25px;   
}

h1 {
    text-shadow:3px 3px 0 #E0FBFC;
}

h2 {
    margin-top: 1,5em;
    padding-left: 1em;
    text-shadow:3px 3px 0 #E0FBFC;
    
 }

.omne {
    color:#E0FBFC;
    text-shadow: 2px 2px 4px#293241;
    text-align:justify;
    overflow: visible;
    float:justify;
   /* nepodařilo se mi docílit toho, aby byl text vedle obrázku uprostřed ze všech stran, prosím o řešení.*/

}

.omne p {
    margin: 30px;
    position:inherit;
}

img {
    width: 250px;
    margin: 30px 30px 30px 30px; 
    border-radius: 3em 3em 3em 3em;
    box-shadow: 2px 2px 25px #293241;
    float:left;        
}

.omne a {
    color: #E0FBFC;
    text-decoration: none;
    text-shadow:none;
}

.kontakt a {
    color:#293241; 
    text-decoration: none;
    text-shadow: none;
    }

.omne a:hover {
    color: #EE6C4D;
}

.kontakt a:hover {
    color:#EE6C4D;
}

.kontakt {
    font-size: 15pt;
    text-shadow:2px 2px 2px #E0FBFC;
   /*prosím o řešení, tak tento text dostanu na nejnižší pozici aby byl zarovnaný se spodní hranou obrázku. */
}
