html {
    box-sizing: border-box;
    }
    *,
*:before,
*:after {
  box-sizing: inherit;
  }
body {
    max-width: 1000px;
    display: inline-block;
}
.uvod {
    display: block;
}
img {
    display: inline;
    margin-left: 100px;
}
